body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
}

.image {
  position: relative;
  top: 25vh;
  width: 327px;
  height: 418px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  overflow: hidden;
}

.image:hover {
  transition-duration: 0.5s;
  box-shadow: 0 10px 40px -4px rgb(0 0 0 / 55%);
}

.image:hover .save-button {
  transform: translateX(0px);
}

.image:hover .westwing-button {
  transform: translateX(0px);
}

.image:hover .dowland-button {
  transform: translateX(0px);
}

.image:hover .dots-button {
  transform: translateX(0px);
}
.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image:hover .image-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 40%);
  transition: 0.3s;
}

.save-button {
  position: absolute;
  right: 12px;
  top: 13px;
  border-radius: 80px/60px;
  width: 115px;
  height: 65px;
  background-color: red;
  box-shadow: 0px 6px 10px rgb(0 0 0 / 25%);
  cursor: pointer;
  transform: translateX(130px);
  transition: transform 0.3s;
}

.save-text {
  position: absolute;
  top: -27px;
  right: 49px;
  bottom: 0;
  left: 0;
  width: 0px;
  height: 0;
  margin: auto;
  color: aliceblue;
  font-size: 23px;
  font-weight: 400;
}

.westwing-button {
  position: absolute;
  left: 11px;
  bottom: 13px;
  border-radius: 80px/60px;
  width: 180px;
  height: 52px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  transform: translateX(330px);
  transition: transform 0.3s;
}

/*.westiwing-text {
  position: absolute;
  top: -34px;
  right: 52px;
  bottom: 0;
  left: 0;
  width: 0px;
  height: 0;
  margin: auto;
  color: rgb(24, 24, 24);
  font-size: 25px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
*/

.dowland-button {
  right: 14px; 
  position: absolute;
  right: 74px;
  bottom: 13px;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  transform: translateX(330px);
  transition: transform 0.3s;
}
.dowland {
  position: absolute;
  top: 0;
  right: 28px;
  bottom: 42px;
  left: 0;
  width: 5px;
  height: 2px;
  margin: auto;
  color: black;
  font-size: 35px;
}

.dots-button {
  right: 14px; 
  position: absolute;
  right: 11px;
  bottom: 13px;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  transform: translateX(330px);
  transition: transform 0.3s;
}

.dots {
  position: absolute;
  top: 0;
  right: 30px;
  bottom: 63px;
  left: 0;
  width: 5px;
  height: 2px;
  margin: auto;
  color: black;
  font-size: 36px;
}